body {
  background-color: #333;
  color: #fff;
}
/* Home */
.Home-Container{
  display: flex;
  width: 80%;
  margin: 0 auto;
}
/* navbar */
.container-Navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}
.Navbar-title{
  display: flex;
  align-items: center;
}
.Navbar-todo{
  display: flex;
  width: 124px;
  height: 48px;
  justify-content: center;
  transition: 0.5s;
}
.Navbar-todo:hover{
  background-color: cadetblue;
  border-radius: 12px;
  cursor: pointer;
}

.Navbar-todo p{
  font-size: 24px;
  font-weight: bold;
  padding-top: 4px;
}

.Navbar-user{
  display: flex;
  width: 120px;
  height: 48px;
  justify-content: center;
  transition: 0.5s;
}
.Navbar-user:hover{
  background-color: cadetblue;
  border-radius: 12px;
  cursor: pointer;
}
.Navbar-user p{
  font-size: 24px;
  font-weight: bold;
  padding-top: 4px;
}

/* Todolist */
.todo {
  text-align: center;
}
.taskBg{
  background-color: #555;
  border-radius: 6px;
  margin-bottom: 20px;
  padding: 10px 140px 10px 15px;
  text-align: left;
  font-size: 22px;
  position: relative;
}
.taskBg div{
  display: flex;
  align-items: center;
}
.taskNumber{
  color: #999;
  border: 1px solid #999;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-right: 8px;
  font-size: 14px;
}
.taskBg .taskText{
  flex: 1;
}

.taskBg .done .taskText{
  text-decoration: line-through;
  opacity: 0.3;
}
.iconWrap{
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 15px;
  width: auto;
  display: inline-block;
}

.taskBg .iconWrap span{
  display: inline-block;
  margin: 0 10px;
  cursor: pointer;
  color: rgb(28, 188, 28);
}
.taskBg .iconWrap span:hover{
  color: yellow;
}
/* User */
.container-user{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-user input{
  border-radius: 12px;
  padding: 5px;
  border: 1px solid rgb(4, 116, 75);
}
.container-user label{
  font-size: 20px;
}
.user-form-title{
  width: 100%;
  display: flex;
  margin-top: 20px;
  height: auto;
  justify-content: space-evenly;
}
.user-form{
  display: flex;
  border-radius: 12px;
  background-color: rgb(167, 54, 54);
  width: 380px;
  align-items: center;
  justify-content: space-between;
}
.user-form form{
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}
.user_name {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user_gender{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 10px 0;
}
.user_gender_title{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.user_number{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user_address{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}
.user_languages{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.user_languages p{
  font-size: 20px;
}
.languages{
  display: flex;
  width: 100%;
}
.user-form-button{
  display: flex;
  align-items: center;
  justify-content: center;
  margin:10px 0 20px 0;
}
.user-form-button button{
  transition: 0.5s;
}
.user-form-button button:hover{
  background-color: rgb(106, 10, 144);
}
.user-print{
  background-color: rgb(5, 133, 133);
  width: 380px;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
}
.user-print-title{
  margin-top: 12px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}
.user-print-title-header{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4px;
}
.user-print-title-list p{
  font-size: 20px;
}
.box{
  height: 24px;
}